body {
    background: navy;
    color: azure;
    font: 11pt Tahoma;
}

.form-control {
    margin: 10px;
    width: 20em;
}

.form-select {
    margin: 10px;
    width: 20em;
}

table,
th,
td {
    padding: 15px;
}
